@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$grid-spacing: 7.5pt;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

#wrapper {
    position: relative;
    display: block;
    padding: 35pt 50pt;
    -webkit-print-color-adjust: exact;
}

h1, h2, p.title {
    text-transform: uppercase;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: $grid-spacing;

    h1 {
        font-size: 18.6667px;
        line-height: 1.05em;
        letter-spacing: 0.015em;
        font-weight: 700;
    }

    h2 {
        font-weight: 400;
        font-size: 10px;
        font-style: italic;
        line-height: 1.3;
        letter-spacing: 0.09em;
        margin-top: 5pt;
    }

    section {
        flex: 1;
    }

    #contact {
        font-size: 8pt;
        text-align: end;
    }

}

div.grid {
    display: grid;
    gap: $grid-spacing;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "profile profile"
        "work-history work-history"
        "education education";

    #profile {
        grid-area: profile;

        div.block {
            margin-top: 10pt;
        }
    }

    #education {
        grid-area: education;

        section {
            display: grid;
            gap: $grid-spacing;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
        }
    }

    #work-history {
        grid-area: work-history;

        section {
            float: none;
            display: grid;
            gap: $grid-spacing;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: masonry;
            align-tracks: stretch;

            div.block {
                height: fit-content;
            }
        }
    }

    section {

        h2 {
            font-weight: 700;
            font-size: 17.3333px;
            line-height: 1.2;
            letter-spacing: 0.07em;
        }

        p,
        li {
            font-size: 11px;
            line-height: 1.5em;
            letter-spacing: 0.01em;
            font-weight: 400;
            text-align: justify;

            &.title {
                font-weight: 400;
                font-style: italic;
                font-size: 11px;
                line-height: 1.3;
                letter-spacing: 0.09em;
                margin-top: 5pt;
            }

            &.date {
                font-weight: 200;
                margin: 1.5pt 0pt;
            }
        }


        div.block {
            h3 {
                font-weight: 700;
                font-size: 14.6667px;
                line-height: 1.1em;
                letter-spacing: 0em;
                margin-top: 10pt;
            }
        }

    }

}