/* Dark mode */
@media (prefers-color-scheme: dark) {
    html {
        background: #202124;

        section#wrapper {
            background: #292a2d;

            h1, h2, h3 {
                color: #9e444c;
            }

            h2 {
                opacity: 0.85;
            }

            h3 {
                opacity: 0.65;
            }

            p, li, header h2 {
                color: #c2c4c7;
            }

            a {
                color: #e9656f;
            }
        }

        footer {
            background: #9e444c;
            color: #c2c4c7;
        }
    }
}