<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Leandro Quevedo - Resume</title>
        <%- include("../partials/font.html") %>
        <link rel="stylesheet" href="landing.css"/>
        <script src="https://unpkg.com/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"></script>
    </head>
    <body>
        <section id="wrapper">
            <%- include("../partials/content.html") %>
        </section>

        <footer onclick="downloadPDF()">
            <button>
                <img src="assets/ic_download.svg" alt="Download pdf icon"/>
                Download as PDF
            </button>
        </footer>

        <script type="text/javascript" src="landing.js"></script>
        <script type="text/javascript" src="masonry.js"></script>
    </body>
</html>